// Compare Vehicles
.block-fmgauto-compare-vehicles {

  // Compare Saved Vehicles
  &.block-fmgauto-compare-vehicles-saved-vehicles {
    text-align: right;
    margin-top: 20px;
    float: right;
  }

}
